# Compiled source #
###################
*.bst
*.bib
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
*.tex
*.png
*.nav
*.run.xml
*.snm
*.toc
ConfigProxy.py
Ignorar_Backup/
Ignorar_Backup/** */
__pycache__/
__pycache__/** */
