# Compiled source #
###################
*.bst
*.bib
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
*.tex
*.png
*.nav
*.run.xml
*.snm
*.toc
Fundamentos_MPT_*.pptx
ConfigProxy.py
Ignorar_Backup/
__pycache__/
